// #### generic colors ####
// These are your basic colors for copy (applied to html)
$color: #333 !default;
$bg: #fafafa !default;

// your color-scheme
$brand-color: #007acc !default;
$light: #fff !default;
$dark: #000 !default;
$neutral: #aaa !default;

// #### Elements ####
//Links
$link-color: inherit !default;
$link-hover-color: $brand-color !default;

// border-color
$border-color: #ccc !default;

// Separator
$separator-color: $border-color !default;

// Header
$header-bg: $bg !default;
$header-border-color: $border-color;

// Logo
$logo-color: currentColor !default;

// Hero-Teaser
$hero-bg: transparent !default;
$hero-color: currentColor !default;

// Promo
$promo-lit-bg: #efefef !default;
$promo-lit-color: currentColor !default;

// Buttons
$button-bg: $brand-color !default;
$button-border-color: $button-bg !default;
$button-color: #fff !default;
$button-hover-bg: #006bb3 !default;
$button-hover-color: $button-color !default;

$button-bg--secondary: transparent !default;
$button-border-color--secondary: $brand-color !default;
$button-color--secondary: $brand-color !default;
$button-hover-color--secondary: $button-color !default;
$button-hover-bg--secondary: $button-hover-bg !default;

// Navigation
$navigation-color: currentColor !default;
$nav-bg--s: $header-bg !default;

// Footer
$footer-bg: $brand-color !default;
$footer-color: $light !default;

// Pseudo-Footer
$pseudo-footer-bg: $brand-color !default;

// Cards
$card-lit-bg: #efefef;

// Scroll Top
$scroll-top-bg: $brand-color !default;
$scroll-top-color: #fff !default;
$scroll-top-hover-bg: $button-hover-bg !default;
$scroll-top-hover-color: #fff !default;
