// Max-width of page and content
$page-max-width: none !default;			// max-width for the whole page
$content-max-width: 1200px !default;	// default width of website-content

// these are your basic type-settings (applied to html)
$font-family: sans-serif !default;	// we'll use this as our fallback-font
$font-size: 1em !default;			// 1em = 16px
$font-weight: normal !default;
$line-height: 1.5rem !default;		// 1.5 * 16 = 24px

// base radius
$radius: 3px !default;

// timings
$base-animation-speed: .3s !default;

@import "basic/variables";
@import "basic/breakpoints";
@import "basic/colors";
@import "basic/fonts";
@import "basic/page";
@import "basic/spacing";
