// ATTENTION +++ ATTENTION +++ ATTENTION
// before changin anything here, keep in mind that you can overwrite these classes by defining them as theme-values
// Take a look at 'themes/1-settings/_variables

// Change the prefix of classname here
$prefix: "sdi-" !default;

// the fowwing classes get prefixed too
$wrapper:	"wrapper" !default;		// wraps the whole page
$container:	"container" !default;	// wraps content of page (inside of header, main footer...)

// overwrite layout-classes with own names
// this way you could use bootstrap-classes, if you wish
$layout: "#{$prefix}layout" !default;				// bootstrap: row
$layout__item: "#{$prefix}layout__item" !default;	// bootstrap: col
