// Change the prefix of classname here
$prefix: "sdi-" !default;

// the fowwing classes get prefixed too
$wrapper:	"wrapper" !default;		// wraps the whole page
$container:	"container" !default;	// wraps conten of page (inside of header, main footer...)
