{# we only want the desciption.md to be displayed #}
{% if item | get_filename == "description.md" %}
	<div class="sdi-description" id="{{ item.data.title }}">
		{{ item.templateContent | safe }}
	</div>
{% endif %}

