.#{$prefix}margin-bottom { margin-bottom: $gutter; }

.#{$prefix}margin-bottom--200 { margin-bottom: $gutter--200; }

.#{$prefix}margin-bottom--50 { margin-bottom: $gutter--50; }

.#{$prefix}margin-bottom--25 { margin-bottom: $gutter--25; }

.#{$prefix}margin-bottom--0 { margin-bottom: 0; }
