// ###### switches #####

// ###### Settings #####
$minimal-border-radius: 0 !default;
$minimal-border-width: 0 0 1px !default;
$minimal-padding--left: 0 !default;
$minimal-padding--bottom: 2px !default;

//---------------------
// ###### Layout ######
//---------------------
.#{$prefix}minimal {
	border-radius: $minimal-border-radius !important;
	border-width: $minimal-border-width !important;
	padding-bottom: $minimal-padding--bottom;
	padding-left: $minimal-padding--left;
}
