// ###### switches #####

// ###### Settings #####
$sticky-gutter: $gutter !default;

//---------------------
// ###### Layout ######
//---------------------
.#{$prefix}sticky {
	position: sticky;
	top: $sticky-gutter;
}
