// ###### Settings #####
$body-hyphens: none !default;

//---------------------
// ###### Layout ######
//---------------------
@import url($import-font-families);

body {
	background-color: $body-bg;
	color: $body-color;
	font-family: $body-font-family;
	font-size: $body-font-size;
	height: 100%;
	line-height: $line-height;
	margin: $body-margin;
	padding: $body-padding;
	width: 100%;			// this allows fixing the body to prevent scrolling when opening modals

	@if $body-hyphens != none {
		hyphens: $body-hyphens;
	}
}
