// --- stick footer to bottom, if not enough content is available
@supports (display:grid) {
	.#{$prefix}wrapper {
		display: grid;
		grid-template-rows: auto 1fr auto;
		min-height: 100%;
	}

	.#{$prefix}footer {
		grid-row: 4;
	}
}
