// ###### switches #####

// ###### Settings #####
$autosuggest-bg: $dropdown-overlay-bg !default;
$autosuggest-color: $dropdown-overlay-color !default;
$autosuggest-bg--hover: $component-bg--hover !default;
$autosuggest-padding: $gutter--50 !default;

//---------------------
// ###### Layout ######
//---------------------
.#{$prefix}autosuggest {
	position: relative;		// makes the dropdown placeable
}

.#{$prefix}autosuggest__results {
	background-color: $autosuggest-bg;
	color: $autosuggest-color;
	display: flex;
	left: 0;
	position: absolute;
	text-align: left;
	top: 100%;
	width: 100%;
}

.#{$prefix}autosuggest__link {
	background-color: transparent;
	border-width: 0;
	color: currentColor;
	cursor: pointer;
	display: flex;					// in case we need to add count/amount or something like that
	font-size: inherit;
	justify-content: space-between;
	padding: $autosuggest-padding;
	text-align: left;
	text-decoration: none;
	width: 100%;

	&.#{$prefix}current,
	&:hover {
		background-color: $autosuggest-bg--hover;
	}
}
