.#{$prefix}button {
	background-color: $button-bg;
	border: 2px solid $button-border-color;
	border-radius: $button-radius;
	color: $button-color;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: $button-font-size;
	font-weight: $button-font-weight;
	line-height: 1;
	padding: $button-padding;
	text-decoration: none;
	transition: color, background-color .2s;

	&:hover {
		background-color: $button-hover-bg;
		border-color: $button-hover-bg;
		color: $button-hover-color;
	}
}

.#{$prefix}button.#{$prefix}button--secondary {
	background-color: $button-bg--secondary;
	border-color: $button-border-color--secondary;
	color: $button-color--secondary;

	&:hover {
		background-color: $button-hover-bg--secondary;
		border-color: $button-hover-bg--secondary;
		color: $button-hover-color--secondary;
	}
}

// Button Sizes
.#{$prefix}button.#{$prefix}button--75 {
	font-size: $button-font-size--75;
	font-weight: $button-font-weight--75;
	padding: $button-padding--75;
}
