// ###### switches #####
$enable-flyout-header: true !default;

// ###### Settings #####
$flyout-bg: $nav-mobile-bg-base !default;
$flyout-color: $nav-mobile-color-base !default;
$flyout-link-padding: $gutter--25 !default;
$flyout-padding: $gutter / 2 !default;
$flyout-padding-top: $gutter * 2 !default;			//  use this to make place for hamburger
$flyout-header-margin: $gutter--50 !default;
$flyout-animation-speed: .3s !default;
$flyout-width: 75vw !default;
$flyout-max-width: 0 !default;
$flyout-link-class: "navigation__link" !default;		// prefix is added in selector

//---------------------
// ###### Layout ######
//---------------------
.#{$prefix}flyout {
	.#{$prefix}backdrop { display: none; }
}

// -- mobile navigation
@media (max-width: $nav-mobile-breakpoint--s) {
	.#{$prefix}flyout__list {
		flex-direction: column;
	}

	.#{$prefix}#{$flyout-link-class} {
		display: block;
		padding: $flyout-link-padding 0;
	}

	.#{$prefix}flyout {
		left: 0;
		position: fixed;
		top: 0;
		width: 100vw;

		// show backdrop, when active-class is added
		&.#{$is-active} {
			.#{$prefix}backdrop { display: block; }
		}
	}

	.#{$prefix}flyout__content {
		height: 100vh;
		overflow-y: auto;
	}

	.#{$prefix}flyout__overlay {
		@if ($flyout-max-width != 0) {
			max-width: $flyout-max-width;
		}
		background-color: $flyout-bg;
		color: $flyout-color;
		height: 100vh;
		left: 0;
		position: absolute;
		top: 0;
		transform: translateX(-100%);
		transition: transform $flyout-animation-speed ease;
		width: $flyout-width;
		z-index: 3;

		// calculate padding
		@if $flyout-padding != $flyout-padding-top {
			padding: $flyout-padding-top $flyout-padding $flyout-padding;
		} @else {
			padding: $flyout-padding;
		}
	}

	.#{$is-active} {
		.#{$prefix}flyout__overlay {
			box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
			transform: translateX(0);
		}
	}
}

@if $enable-flyout-header {
	.#{$prefix}flyout__header {
		margin-bottom: $flyout-header-margin;
	}
}
