// ###### switches #####
$enable-hamburger-animation: true !default;
$enable-hamburger-css-icon: true !default;
$enable-hamburger-text: true !default;

// ###### Settings #####
$hamburger-bg: transparent !default;
$hamburger-color: currentColor !default;
$hamburger-padding: 1rem 0 !default;
$hamburger-position: relative !default;
$hamburger-position-left: 0 !default;
$hamburger-position-top: 0 !default;

$hamburger-height: 16px !default;
$hamburger-width: 26px !default;
$hamburger-bar-size: 2px !default;
$hamburger-bar-color: currentColor !default;
$hamburger-text-font-size: $icon-text-font-size !default;
$hamburger-text-margin-top: 5px !default;

//---------------------
// ###### Layout ######
//---------------------
.#{$prefix}hamburger {
	color: $hamburger-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: $hamburger-padding;
	position: $hamburger-position;
	z-index: 3;					// make sure, the hamburger always lays above all content

	@if ($hamburger-bg != transparent) {
		background-color: $hamburger-bg;
	}

	@if $hamburger-position-top != 0 {
		top: $hamburger-position-top;
	}

	@if $hamburger-position-left != 0 {
		top: $hamburger-position-left;
	}
}

// -- build the hamburger icon
@if $enable-hamburger-css-icon {
	.#{$prefix}hamburger__icon {
		display: block;
		height: $hamburger-height;
		position: relative;
		width: $hamburger-width;
	}

	.#{$prefix}hamburger__bar {
		border-top: $hamburger-bar-size solid $hamburger-bar-color;
		display: block;
		left: 0;
		position: absolute;
		width: 100%;

		// the bars (nth-child: 1,2,4) and the cross (nth-child: 2,3)
		&:nth-child(1) {
			top: 0;
		}

		&:nth-child(2),
		&:nth-child(3) {
			top: 50%;
			transform: translateY(-50%);
		}

		&:nth-child(4) {
			bottom: 0;
		}
	}
}

@if $enable-hamburger-animation {
	.#{$prefix}hamburger__bar {
		transition: $base-animation-speed all ease;
	}

	.#{$is-active} {
		.#{$prefix}hamburger__bar {
			// hide the bars
			&:nth-child(1),
			&:nth-child(4) {
				opacity: 0;
			}

			// animate the cross
			&:nth-child(2) {
				transform: rotate(-45deg);
			}

			&:nth-child(3) {
				transform: rotate(45deg);
			}
		}
	}
}

@if $enable-hamburger-text {
	.#{$prefix}hamburger__text {
		font-size: $hamburger-text-font-size;
		margin-top: $hamburger-text-margin-top;
		opacity: 1;
		transition: $base-animation-speed all ease;
	}

	.#{$is-active} {
		.#{$prefix}hamburger__text {
			opacity: 0;
		}
	}
}
