// ###### switches #####

// ###### Settings #####
$header-meta-bg: $color-brand !default;
$header-meta-link-color: $text-color--negative--dimmed !default;
$header-meta-link-color--hover: $text-color--negative !default;
$header-meta-link-padding: $gutter--33 !default;
$header-meta-link-separator-color: rgba($header-meta-link-color, .5) !default;
$header-meta-font-size: .75rem !default;	/* -- 12px / 16px -- */

//---------------------
// ###### Layout ######
//---------------------
.#{$prefix}header-meta {
	background-color: $color-brand;
	color: $header-meta-link-color;
	font-size: $header-meta-font-size;
	text-transform: uppercase;
}

.#{$prefix}header-meta .#{$row} {
	flex-direction: row-reverse;
}

.#{$prefix}header-meta__item {
	position: relative;

	&::before {
		border-left: 1px solid $header-meta-link-separator-color;
		content: "";
		display: block;
		height: 1.25em;
		left: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

.#{$prefix}header-meta__item:first-child::before { content: none; }

.#{$prefix}header-meta__link {
	color: inherit;
	display: inline-block;
	padding: $header-meta-link-padding;
	text-decoration: none;

	&:hover { color: $header-meta-link-color--hover; }
}
