// ###### switches #####
$enable-hero-content-box: true !default;

// ###### Settings #####
$hero-gutter: $gutter !default;
$hero-text-align: center !default;
$hero-content-max-width: 600px !default;

$hero-background-color: transparent !default;
$hero-background-size: auto !default;
$hero-color: currentColor !default;
$hero-link-color: currentColor !default;
$hero-content-box-background-color: $backdrop-color !default;
$hero-content-box-color: $color-text--negative !default;
$hero-content-box-background-opacity: $backdrop-opacity !default;
$hero-content-box-padding: $gutter !default;
$hero-content-box-radius: $radius !default;

$hero-border-color: $border-color !default;
$hero-margin-bottom: $gutter !default;

$hero-padding-top: $hero-gutter !default;
$hero-padding-bottom: $hero-gutter * 2 !default;	// to compensate header-margin

//---------------------
// ###### Layout ######
//---------------------
.#{$prefix}hero {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	justify-content: center;
	margin-bottom: $hero-gutter;
	text-align: $hero-text-align;

	@if $hero-gutter != 0 {
		padding-bottom: $hero-padding-bottom;
		padding-top: $hero-padding-top;
	}

	@if $hero-border-color != transparent {
		border-bottom: 1px solid $hero-border-color;
	}

	@if $hero-background-size != auto {
		background-repeat: no-repeat;
		background-size: $hero-background-size;
	}

	@if $hero-background-color != transparent {
		background-color: $hero-background-color;
	}

	@if $hero-color != inherit and $hero-color != currentColor {
		color: $hero-color;
	}
}

.#{$prefix}hero__link {
	color: $hero-link-color;
}

.#{$prefix}hero__image {
	width: 100%;
}

@if $enable-hero-content-box {
	.#{$prefix}hero__content--box {
		padding-bottom: $hero-content-box-padding;
		padding-top: $hero-content-box-padding;
	}
}

@include m-up {
	.#{$prefix}hero--has-image {
		.#{$prefix}hero__container {
			bottom: $gutter;
			left: 0;
			margin-left: 0;
			position: absolute;
		}

		.#{$prefix}hero__content {
			max-width: $hero-content-max-width;
		}
	}

	@if $enable-hero-content-box {
		.#{$prefix}hero__content--box {
			background-color: rgba($hero-content-box-background-color, $hero-content-box-background-opacity);
			border-radius: $hero-content-box-radius;
			color: $hero-content-box-color;
			padding-left: $hero-content-box-padding;
			padding-right: $hero-content-box-padding;
		}
	}
}
