// ###### switches #####
$enable-icon-svg: true !default;
$enable-icon--is-left: true !default;
$enable-icon--isright: true !default;

// ###### Settings #####
$icon-gutter: 9px !default;
$icon-svg-fill: currentColor !default;
$icon-svg-max-width: 32px !default;

//---------------------
// ###### Layout ######
//---------------------
@if $enable-icon-svg {
	.#{$prefix}icon {
		fill: $icon-svg-fill;
		height: 100%;
		max-width: $icon-svg-max-width;
		vertical-align: middle;
		width: 100%;
	}
}

@if $enable-icon--is-left {
	.#{$prefix}icon--is-left {
		margin-right: $icon-gutter;
	}
}

@if $enable-icon--isright {
	.#{$prefix}icon--isright {
		margin-left: $icon-gutter;
	}
}
