// ###### switches #####

// ###### Settings #####
$logo-color: currentColor !default;
$logo-width: 65px !default;
$logo-height--s: 32px !default;
$logo-width--s: 32px !default;

//---------------------
// ###### Layout ######
//---------------------
.#{$prefix}logo {
	margin-bottom: $gutter / 2;
	margin-top: $gutter / 2;
	vertical-align: middle;
	width: $logo-width;
}

.#{$prefix}logo.#{$prefix}logo--small {
	height: $logo-height--s;
	width: $logo-width--s;
}

@include s {
	.#{$prefix}logo {
		height: $logo-height--s;
		width: $logo-width--s;
	}
}
