// ###### switches #####

// ###### Settings #####
$star-ratingbg-color: inherit !default;
$star-ratingvalue-color: $warning-color !default;
$star-rating-star-offset: -.2rem;	// reduce gap between inline-block elements

//---------------------
// ###### Layout ######
//---------------------
.#{$prefix}stars {
	display: inline-block;
	position: relative;
}

.#{$prefix}stars__star {
	margin-right: $star-rating-star-offset;
}

.#{$prefix}stars__ratingbg {
	color: $star-ratingbg-color;
}

.#{$prefix}stars__ratingvalue {
	color: $star-ratingvalue-color;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	white-space: nowrap;
}
