// ###### switches #####
$enable-teaser-image-animation: true !default;
$enable-teaser-textbox-animation: true !default;
$enable-teaser-backdrop: true !default;
$enable-teaser-backdrop-animation: true !default;

// ###### Settings #####
$teaser-font-size: $h4-font-size !default;
$teaser-line-height: $h4-line-height !default;
$teaser-gutter: $gutter !default;
$teaser-content-width: 75% !default;

// backdrop of teasers
$teaser-backdrop-color: $backdrop-color !default;
$teaser-backdrop-opacity: $backdrop-opacity !default;
$teaser-backdrop-animation: 0 !default;
$teaser-backdrop-animation-speed: $base-animation-speed !default;

// setting the animation-ENDpoint
$teaser-image-animation: scale(1.2) !default;
$teaser-image-animation-speed: $base-animation-speed !default;

// setting the animation-START and ENDpoint
$teaser-textbox-animation-start: translateY(100%) !default;
$teaser-textbox-animation-end: translateY(0) !default;
$teaser-textbox-animation-speed: $base-animation-speed !default;

//---------------------
// ###### Layout ######
//---------------------
.#{$prefix}teaser {
	color: #fff;
	font-size: $teaser-font-size;
	line-height: $teaser-line-height;
	margin-bottom: $teaser-gutter;
	overflow: hidden;				// in case we want to animate things
	position: relative;

	a {
		color: currentColor;
	}

	// &.#{$prefix}teaser-horizontal {
	// 	display: flex;
	// 	flex-direction: column;
	// }

	// just in case something is placed inside a teaser
	.#{$prefix}place {
		margin-bottom: 0;
		width: $teaser-content-width;
	}
}

// -- display block to remove whitespace on image
.#{$prefix}teaser__image { display: block; }

// -- add a backdrop to teaser (put after image and before overlaying text)
@if $enable-teaser-backdrop {
	.#{$prefix}teaser__backdrop {
		@if ($teaser-backdrop-opacity != 0) {
			opacity: $teaser-backdrop-opacity;
		}
		background-color: $teaser-backdrop-color;
		bottom: 0;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	// animate the backdrop via (css-class)
	@if $enable-teaser-backdrop-animation {
		.#{$prefix}teaser__backdrop--animated {
			transition: opacity $teaser-backdrop-animation-speed ease;
		}

		.#{$prefix}teaser:hover {
			.#{$prefix}teaser__backdrop--animated {
				opacity: $teaser-backdrop-animation;
			}
		}
	}
}

// -- prepare the teaser for animations
@if $enable-teaser-image-animation or $enable-teaser-textbox-animation {
	.#{$prefix}teaser {
		overflow: hidden;
	}
}

// -- animate the image (when in link)
@if $enable-teaser-image-animation {
	.#{$prefix}teaser__image {
		transition: transform $teaser-image-animation-speed ease;
	}

	.#{$prefix}teaser a:hover {
		.#{$prefix}teaser__image {
			transform: $teaser-image-animation;
		}
	}
}

// -- animate the textbox (triggered via css)
@if $enable-teaser-textbox-animation {
	.#{$prefix}teaser {
		.#{$prefix}teaser__box--animated {
			transform: $teaser-textbox-animation-start;
			transition: transform $teaser-textbox-animation-speed ease;
		}
	}

	.#{$prefix}teaser:hover {
		.#{$prefix}teaser__box--animated {
			transform: $teaser-textbox-animation-end;
		}
	}
}
