code {
	background-color: $code-background-color;
	border-radius: $code-radius;
	color: $code-color;
	display: inline-block;
	font-family: $code-font-family;
	font-size: $code-font-size;
	padding: 0 2px;
	vertical-align: middle;
}
