// ###### Switchess #####

// ###### Settings #####
$code-background-color: #efeae7 !default;
$code-radius: $radius !default;
$code-color: currentColor !default;
$code-font-size: .75rem !default;
$code-font-family: $mono-font-family !default;

//---------------------
// ###### Layout ######
//---------------------
code {
	background-color: $code-background-color;
	border-radius: $code-radius;
	color: $code-color;
	display: inline-block;
	font-family: $code-font-family;
	font-size: $code-font-size;
	padding: 0 2px;
	vertical-align: middle;
}
