// ###### Switchess #####

// ###### Settings #####
$figcaption-font-size: $h4-font-size !default;

//---------------------
// ###### Layout ######
//---------------------
figcaption {
	font-size: $figcaption-font-size;
	font-style: italic;
}
