// ###### Switchess #####

// ###### Settings #####
$hr-color: $border-color !default;
$hr-margin-bottom: $gutter !default;

//---------------------
// ###### Layout ######
//---------------------
hr {
	border-top: 1px solid $hr-color;
	border-width: 1px 0 0;
	height: 0;
	margin-bottom: $hr-margin-bottom;
	margin-top: 0;
}
