// ###### Switchess #####

// ###### Settings #####
$link-color: $color-primary !default;
$link-color-hover: $color-primary--variant !default;
$link-color-active: $color-primary--variant !default;

//---------------------
// ###### Layout ######
//---------------------
a {
	color: $link-color;

	&:hover { color: $link-color-hover; }
	&:active { color: $link-color-active; }
}
