// ###### switches #####

// ###### Settings #####

//---------------------
// ###### Layout ######
//---------------------
.#{$prefix}p1 {
	font-size: $p1-font-size;
}

.#{$prefix}p2 {
	font-size: $p2-font-size;
}

.#{$prefix}p3 {
	font-size: $p3-font-size;
}

.#{$prefix}p4 {
	font-size: $p4-font-size;
}
