<!-- default promo -->
<div class="sdi-promo">
	Mit der Entwicklung dieser Website habe ich begonnen, ein
		Design-System zu entwickeln, das mittels BEM und ITCSS strukturiert ist.
</div>

<!-- promo is lit and content is centered and narrowed -->
<div class="sdi-promo sdi-promo--lit sdi-center">
	<div class="sdi-container sdi-container--narrow">Mit der Entwicklung dieser Website habe ich begonnen, ein
		Design-System zu entwickeln, das mittels BEM und ITCSS strukturiert ist.<br><a href="/design-system">Wirf einen
			Blick darauf</a>
	</div>
</div>
