{% include 'components/partials/hero.njk' %}

<main class="sdi-main">
	<div class="sdi-container">
		<div class="sdi-layout">

			<div class="sdi-layout__item sdi-layout__item--25 sdi-sidebar">
				{% include 'components/partials/sidebar-navigation.njk' %}
			</div>

			<div class="sdi-layout__item sdi-layout__item--75">

				{#
					we are sorting collections manually via js on prebuild,
					so we can safely split the content depending on filetype here
				#}
				{% for item in itemlist %}

						{# we dont want the desciption.md to be displayed #}
						{% if item | get_filename != "description.md" %}
							{% set latest_date = item.date %}

							{#
								we need to OPEN the SECTION here to group the snippets
								andd use the parentdrectory as an identifier
							#}
							<section id="{{ item | get_parentdirectory }}">
								<h2>{{ item | get_parentdirectory }}</h2>

								{# code and preview #}
								{%- include "components/code/preview.njk" -%}
								{%- include "components/code/markup.njk" -%}
						{% endif %}

						{# we only want the desciption.md to be displayed #}
						{% if item | get_filename == "description.md" %}

								<hr/>

								<h3 class="sdi-margin-bottom--25">When to use</h3>
								{%- include "components/code/description.njk" -%}

								<p class="h5 sdi-time sdi-margin-bottom--0">Last modified: {{ latest_date | readable_date }}</p>

							{# we need to CLOSE the SECTION here to group the snippets #}
							</section>
						{% endif %}

				{% endfor %}

			</div>

		</div>

	</div>
</main>
