{% include 'components/partials/hero.njk' %}

<main class="sdi-main">
	<div class="sdi-container">
		<div class="sdi-row">

			<div class="sdi-col sdi-col--25 sdi-sidebar">
				{% include 'components/partials/sidebar-navigation.njk' %}
			</div>

			<div class="sdi-col sdi-col--75">

				{#
					we are sorting collections manually via js on prebuild,
					so we can safely split the content depending on filetype here
				#}
				{% for item in itemlist %}

						{# we dont want the desciption.md to be displayed #}
						{% if item | get_filename != "description.md" %}
							{% set latest_date = item.date %}

							{#
								we need to OPEN the SECTION here to group the snippets
								andd use the parentdrectory as an identifier
							#}
							<section class="sdi-margin-bottom--50" id="{{ item | get_parentdirectory }}">
								<h2>{{ item | get_parentdirectory }}</h2>

								{# code and preview #}
								{%- include "components/code/preview.njk" -%}

								<div class="sdi-collapse sdi-collapse--lit" id="code-{{ item | get_parentdirectory }}">
									<div class="sdi-collapse__header">
										<div class="sdi-collapse__button sdi-js-collapse-trigger" data-target="#code-{{ item | get_parentdirectory }}">
											Show the code
											<div class="sdi-collapse__icon">+</div>
										</div>
									</div>
									<div class="sdi-collapse__main">
										<div class="sdi-collapse__content">
											{%- include "components/code/markup.njk" -%}
										</div>
									</div>
								</div>
						{% endif %}

						{# we only want the desciption.md to be displayed #}
						{% if item | get_filename == "description.md" %}

								<div class="sdi-collapse sdi-collapse--lit" id="description-{{ item | get_parentdirectory }}">
									<div class="sdi-collapse__header">
										<div class="sdi-collapse__button sdi-js-collapse-trigger" data-target="#description-{{ item | get_parentdirectory }}">
											Description
											<div class="sdi-collapse__icon">+</div>
										</div>
									</div>
									<div class="sdi-collapse__main">
										<div class="sdi-collapse__content">
											<h3 class="sdi-margin-bottom--25">When to use</h3>
											{%- include "components/code/description.njk" -%}
										</div>
									</div>
								</div>

								<p class="h5 sdi-time sdi-margin-bottom--0 sdi-margin-top">Last modified: {{ latest_date | readable_date }}</p>

							{# we need to CLOSE the SECTION here to group the snippets #}
							</section>
						{% endif %}

				{% endfor %}

			</div>

		</div>

	</div>
</main>
