// ###### switches #####
$enable-container--narrow: true !default;

// ###### Settings #####
$container-max-width: $content-max-width !default;	// default width of website-content
$container--narrow-max-width: 640px !default;		// Max-Width of narrow-content e.g. posts (smaller sizes improve reading on wider screens)
$container-gutter: $page-gutter !default;
$container-gutter--m: $page-gutter--m !default;
$container-gutter--l: $page-gutter--l !default;
$container-position: initial !default;				// made configureable just in case we need to place content

//---------------------
// ###### Layout ######
//---------------------
.#{$container} {
	margin-left: auto;
	margin-right: auto;
	padding-left: $container-gutter;
	padding-right: $container-gutter;

	@if $container-position != initial {
		position: $container-position;
	}
}

@if $container-max-width != none {
	.#{$container} {
		max-width: $container-max-width;
		width: 100%;
	}
}

@if $container-bg != transparent {
	.#{$prefix}container {
		background-color: $container-bg;
	}
}

// -- Variations
@if $container--narrow-max-width != none and $enable-container--narrow {
	.#{$container}.#{$container}--narrow { max-width: $container--narrow-max-width; }
}

@include m-up {
	.#{$container} {
		margin-left: auto;
		margin-right: auto;
	}
}

@include m {
	.#{$container} {
		padding-left: $container-gutter--m;
		padding-right: $container-gutter--m;
	}
}

@include l-up {
	.#{$container} {
		padding-left: $container-gutter--l;
		padding-right: $container-gutter--l;
	}
}
