// ###### switches #####

// ###### Settings #####
$media-gutter: $gutter--50 !default;

//---------------------
// ###### Layout ######
//---------------------
.#{$prefix}media {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: flex-start;
	margin-left: $media-gutter / -2;
	margin-right: $media-gutter / -2;
}

.#{$prefix}media__content,
.#{$prefix}media__object {
	padding: $media-gutter;
}

.#{$prefix}media--center-vertical {
	align-items: center;
}
