.#{$prefix}media {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: flex-start;
}

.#{$prefix}media .#{$prefix}media__object {
	margin-right: $gutter;
}

@include m-up {
	.#{$prefix}media.#{$prefix}media--reversed {
		flex-direction: row-reverse;
		justify-content: flex-end;
	}

	.#{$prefix}media--reversed .#{$prefix}media__object {
		margin-left: $gutter;
		margin-right: 0;
	}
}
