.#{$prefix}example {
	border-bottom: 1px solid #ccc;
	margin-bottom: $gutter;
	padding-bottom: $gutter;
}

.#{$prefix}example .#{$prefix}container {
	border: 1px solid #ccc;
	padding-bottom: $gutter--25;
}

.#{$prefix}example .#{$prefix}layout__item {
	border: 1px solid #ccc;
	margin-bottom: 1px;
}

.#{$prefix}example .code {
	background-color: #ddd;
	border-radius: 3px;
	display: inline-block;
	font-family: "Fira Code", Courier, "Courier New", monospace;
	font-size: .75rem;
	padding: 0 2px;
	vertical-align: middle;
}
