@import "1-settings/variables";
@import "6-components/logo";
@import "7-utilities/prism-reset";

section {
	border: 1px dashed #ccc;
	border-radius: .25rem;
	padding: .75rem;
}

pre { font-size: .75rem !important; }

.#{$prefix}code {
	margin-bottom: $gutter;
}

.#{$prefix}description p + p { margin-top: $gutter * -.75; }

.#{$prefix}preview {
	margin-bottom: $gutter;
	position: relative;
}

.#{$prefix}preview ul + ul {
	margin-top: $gutter;
}

.#{$prefix}preview .#{$prefix}container {
	border: 1px solid #ccc;
	margin-bottom: $gutter--25;
}

.#{$prefix}preview .#{$prefix}layout__item div {
	border: 1px solid #ccc;
	margin-bottom: 1px;
	padding: 2px;
}

@keyframes highlight {
	0% {
		box-shadow: 0;
		transform: scale(1);
	}

	50% {
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
		transform: scale(1.05);
	}
}

:target {
	animation-duration: .5s;
	animation-name: highlight;
	border-color: $brand-color;
}
