<!-- evenly distributed layout -->
<div class="sdi-layout">
	<div class="sdi-layout__item">
		<div>50%</div>
	</div>
	<div class="sdi-layout__item">
		<div>50%</div>
	</div>
</div>

<!-- Variations -->
<div class="sdi-layout">
	<div class="sdi-layout__item sdi-layout__item--100">
		<div>100%</div>
	</div>

	<div class="sdi-layout__item sdi-layout__item--25">
		<div>25%</div>
	</div>
	<div class="sdi-layout__item sdi-layout__item--75">
		<div>75%</div>
	</div>

	<div class="sdi-layout__item sdi-layout__item--50">
		<div>50%</div>
	</div>
	<div class="sdi-layout__item sdi-layout__item--50">
		<div>50%</div>
	</div>

	<div class="sdi-layout__item sdi-layout__item--33">
		<div>33%</div>
	</div>
	<div class="sdi-layout__item sdi-layout__item--33">
		<div>33%</div>
	</div>
	<div class="sdi-layout__item sdi-layout__item--33">
		<div>33%</div>
	</div>
</div>
