<header class="sdi-header sdi-header--{{ layout }}">
	<div class="sdi-container">
		<div class="sdi-header__main">
			<div class="sdi-header__item sdi-js-nav-mobile-trigger" data-target="#sdi-nav-mobile">
				<button class="sdi-nav-mobile-trigger">menu</button>
			</div>
			<a href="/" title="zur Statseite" class="sdi-header__item sdi-header__logo">{% include 'components/partials/logo.njk' %}</a>
			<div class="sdi-header__item sdi-header__content">
				{% include 'components/partials/navigation.njk' %}
			</div>
		</div>
	</div>
</header>
