<header class="sdi-header sdi-header__main sdi-header--{{ layout }}">
	<div class="sdi-header__main sdi-container">
		<a href="/" title="zur Statseite" class="sdi-header__item sdi-logo">{% include 'components/partials/logo.njk' %}</a>
		{% include 'components/partials/navigation.njk' %}
	</div>
</header>
