<nav class="sdi-sticky">
	<ul class="sdi-ui-list sdi-ui-list--vertical sdi-navigation--vertical">
		{% for item in itemlist %}
			{#
				we only want to list items, where a description.md exists (even if it's empty)
				and we're using the parent directory-name as an anchor
			#}

			{% if item | get_filename == "description.md" %}
				<li class="sdi-navigation__item"><a href="#{{ item | get_parentdirectory }}" class="sdi-navigation__link">{{ item | get_parentdirectory }}</a></li>
			{% endif %}

		{% endfor %}
	</ul>
</nav>
