---
layout: home
tags: nav
navtitle: Home
permalink: index.html
description: SDI Design-System as seen on saschadiercks.de
keywords: Frontend, SASS, CSS, HTML, Gulp, Design System, Pattern Library
date: 2019-01-01
---

